<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jquery bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- bootstrap javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- bootstrap font css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- reference dashboard.css 'static/front/css/dashboard.css' -->
    {% load static %}
    <link rel="stylesheet"  href="{% static 'front/css/dashboard.css' %}"></script>
</head>
<body>
    <div class="m-3 p-2">
      <!-- NAV BAR -->
      <nav>
        <div class="nav nav-tabs justify-content-center font-weight-bold navbar-light bg-light" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-gmail-tab" data-toggle="tab" href="#nav-gmail" role="tab" aria-controls="nav-gmail" aria-selected="true">Gmail</a>
          <a class="nav-item nav-link" id="nav-cal-tab" data-toggle="tab" href="#nav-cal" role="tab" aria-controls="nav-cal" aria-selected="false">Calendar</a>
          <a class="nav-item nav-link" id="nav-doc-tab" data-toggle="tab" href="#nav-doc" role="tab" aria-controls="nav-doc" aria-selected="false">Document</a>
        </div>
      </nav>
      <!-- NAV BAR CONTENTS -->
      <div class="tab-content" id="nav-tabContent">
        <!-- Gmail -->
        <div class="mt-3 tab-pane fade show active" id="nav-gmail" role="tabpanel" aria-labelledby="nav-gmail-tab">hello</div>
        <!-- Calendar -->
        <div class="mt-3 tab-pane fade" id="nav-cal" role="tabpanel" aria-labelledby="nav-cal-tab">eh</div>
        <!-- Documents -->
        <div class="mt-3 tab-pane fade" id="nav-doc" role="tabpanel" aria-labelledby="nav-doc-tab">
          <div class="container text-center">
          {% if formatted_files %}
          <div class="row">
          {% for doc in formatted_files %}
          <div class="col-md-6 col-lg-4 col-xl-3 py-2">
          <div class="card h-100 bg-light border-white">
            <!-- <img class="card-img-top" src="{{doc.embedLink}}" alt="Card image cap"> -->
            <div class="card-header">
              <img src="{{doc.iconLink}}" alt="type of file">
              {% if doc.viewed %}
              <i class="bi bi-eye text-success"></i>
              {% else %}
              <i class="bi bi-eye-slash text-danger"></i>
              {% endif %}
              {% if doc.shared %}
              <i class="bi bi-person-check text-success"></i>
              {% else %}
              <i class="bi bi-person-x text-danger"></i>
              {% endif %}
            </div>
            <div class="card-body text-secondary">
              <h5 class="card-title cut-short">{{doc.title}}</h5>
              <details class="mb-2">
                <summary class="lastm">More Details</summary>
                <p class="card-text">Created</p>
                <p class="card-text lastm text-primary">{{doc.createdDate}}</p>
                <p class="card-text">Last Modified</p>
                <p class="card-text lastm text-primary">{{doc.modifiedDate}}</p>
                <p class="card-text lastm text-primary">{{doc.lm_displayName}}</p>
                <p class="card-text lastm text-primary">{{doc.lm_emailAddress}}</p>
              </details>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#preview_modal" style="font-size:13px" data-link="{{doc.embedLink}}">
                View Preview
              </button>
            </div>
          </div>
          </div>
          {% endfor %}
          </div>
          {% else %}
          <h1> No Documents Available </h1>
          {% endif %}
          </div>
        </div>
        <!-- Documents(END) -->
      </div>
      <!-- NAV BAR CONTENTS(END) -->
    </div>
    <!-- Modal Initialized -->
    <div class="modal fade" id="preview_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- 1:1 aspect ratio -->
          <div class="embed-responsive embed-responsive-1by1">
            <iframe id="preview_page" class="embed-responsive-item" src=""></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Modal -->
    <!-- reference dashboard.js 'static/front/js/dashboard.js' -->
    <script src="{% static 'front/js/dashboard.js' %}"></script>
</body>
</html>
