.card-header img {
    float: right;
    margin-top: 5px;
}

.card-header i {
    float: left;
    margin-right: 3px;
}

.card-body p {
    margin-bottom: 0px;
}

.lastm {
    font-size: 12px;
}

.cut-short {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
