/*
 .bg-image {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/front/img/Justin_Photo.jpeg");
}
*/

body {
    align-items:center;
    background-image: url("/static/front/img/Confetti-Doodles.svg");
}

html, body {
    height:100%;
}

.form-sign {
    width:100%;
    max-width:330px;
    padding:15px;
    margin:auto;
    color: white;
    /* border: 2px solid #f1f1f1; */
    border-radius:25px; 
    background-color: rgba(0,0,0, 0.4);
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;
    z-index: 2;
    position: absolute;
}

.form-sign p {
    font-size:13px;
    color: #cccccc;
    margin-bottom: 0px !important;
}

.form-sign .form-control {
    position:relative;
    box-sizing:boder-box;
    height:auto;
    padding:10px;
    font-size:16px;
}
